<!DOCTYPE html>
<!--Project css-->
<link rel="stylesheet" href="{{url_for('static', filename='mystyle.css')}}">
<link rel="web icon" type="image/png" href="{{ url_for('static', filename='Logo.png') }}">
<head>
    <title>MOVIE GENRES PREDICTION</title>
</head>

<body>
<div class="content">
    <div class="row">
        <img src="{{url_for('static', filename='')}}" class="image">
    </div>
    <div class="column">
            <h1>MOVIE GENRES PREDICTIONS</h1>
            <h2>THERE ARE 7 DIFFERENT GENRES</h2>
    </div>
    <div class="row">
        <img src="{{url_for('static', filename='')}}" class="image">
    </div>
</div>
</body>